@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} 

body{
  background-image: url('../app/assets/background.png');
  background-repeat: no-repeat;
  background-size: 100% 400px;
  max-width: 100%;
}

.card1 {
  @apply dark:bg-gray-800 bg-white;
}


.card{
  @apply dark:bg-gray-800 bg-white;
}
 
.navbar {
  @apply dark:bg-gray-800 bg-white
}

@layer base{
  body {
      @apply dark:bg-slate-950 bg-neutral-200
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.rounded-lg {
  border: 4px solid rgb(79, 88, 255);
  border-radius: 50%;
  margin-top: 20px;
}

.theme {
  float: right;
}

hr {
  border-color: rgb(245 158 11);
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.moon {
  width: 30px;
  height: 30px;
  margin: auto;
}

.sun {
  width: 30px;
  height: 30px;
  margin: auto;
}

.moon:hover {
  transform: scale(1.5);
}

.sun:hover {
  transform: scale(1.5);
}

.desc {
  text-align: center;
}

.socIcon {
  margin: auto;
  text-align: center;
  gap: 10px;
}




